<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dung.hohoang.doandidong">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".GlobalApplication.GlobalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo_app"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo_app_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SQLiteDemo">
        <activity
            android:name=".UI.EditFoodTypeActivity"
            android:exported="true" />
        <activity
            android:name=".UI.DetailFoodActivity"
            android:exported="true" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".UI.EditFoodActivity"
            android:exported="true" />
        <activity
            android:name=".UI.AboutActivity"
            android:exported="true" />
        <activity
            android:name=".UI.FoodActivity"
            android:exported="true" />
        <activity
            android:name=".UI.FoodTypeActivity"
            android:exported="true" />
        <activity
            android:name=".UI.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>